
[submodule "common"]
	path = common
	url = https://github.com/rmadrid24/anna-common.git
[submodule "src/benchmark/HdrHistogram_c"]
	path = src/benchmark/HdrHistogram_c
	url = https://github.com/HdrHistogram/HdrHistogram_c.git
